version: 1
disable_existing_loggers: false

formatters:
  json:
    "()": config.logging.JSONFormatter

handlers:
  console:
    class: logging.StreamHandler
    level: INFO
    formatter: json
    stream: ext://sys.stdout

root:
  level: INFO
  handlers: [console]

loggers:
  uvicorn.error:
    level: INFO
  uvicorn.access:
    level: INFO
